wandb
numba>0.56
flashlight-text==0.0.4
llvmlite>0.39
editdistance==0.6.2
matplotlib
numpy>=1.25
wget
kenlm>=0.2
pandas
Pillow
pyctcdecode==0.5.0
speechbrain>=0.5
torch>=2
torch_audiomentations==0.11.0
torchaudio>=2
torchvision>=0.15
tqdm
torchmetrics[audio]>=1.2.0
pyloudnorm
pesq